* {font-family: Arial;}

a, a:visited, a:active, a:hover {color: #555;}

table {border-collapse: collapse;}
table th, td {white-space: nowrap; border:1px solid #bbb; padding:5px 10px;}
table th {text-align: center; background-color: #ddd;}

.left {text-align: left;}
.right {text-align: right;}
.center {text-align: center;}

.message {padding: 10px 20px;}
.message.success {border: 1px solid #4b4; background-color: #cec;}
.message.info {border: 1px solid #44b; background-color: #cce;}
.message.warning {border: 1px solid #bb4; background-color: #eec;}
.message.error {border: 1px solid #b44; background-color: #ecc;}

/* very basic layout to avoid 'heavy' nav above content */



#header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 110px;
  overflow: hidden;
  padding: 10px;
  background: url(../img/site/title.png) no-repeat 10px 20px #fff;
  border-bottom: 1px solid #ddd;
}

/* Hide the text (for SEO only) */
#header h1, #header p {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}



#nav {
  position:fixed;
  top:130px;
  left:0px;
  padding:10px;
  width:200px;
  overflow: hidden;
}

#nav h1 {margin-top: 0; margin-left: 0;}

#nav ul {
  margin-left: 0;
  padding-left: 0;
}

#nav li {
  font-size: 10pt;
  list-style-type: none;
  margin: 5px 0;
  padding-left: 0;
}

#nav li .current {
  font-weight: bold;
}



#content {
  margin: 20px;
  margin-top: 100px;
  margin-left: 230px;
  padding: 20px;
  border-left: 1px solid #ddd;
  height: 100%;
}

#content table th, table td {white-space: normal;}
